<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <p>Signed in as {{user.username}}</p>
    <form action="{% url 'login' %}" method = "POST">
        {% csrf_token %}
        <div>
            <input type="text" name="username" placeholder = "Username">
        </div>
        <div>
            <input type="password" name="password" placeholder = "Password">
        </div>
        <input type="submit" value="Login">
    </form>
    
    {% if error_message %}
        <p style = "color:red">{{error_message}}</p>
    {% endif %}
    <br>
    Don't have an account? <a href="{% url 'register' %}">Register here.</a>
</body>
</html>