<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Support - A Supper thing</title>
</head>
<body>
    <h1>Welcome to Supper support. You suck ass for testing positive. Go eat dixxxxxx.</h1>

    {% if user.is_authenticated %}
        <p>You are logged in as {{user.first_name}}</p>
    {% else %}
        <p>You are not logged in. <a href="{% url 'login' %}">Login</a></p>
    {% endif %}
</body>
</html>