{% extends "forum/base.html" %}
{%load forumtags%}
{% block content %}
<p><a href="javascript:history.back()">Go Back</a></p>
<article class="media content-section shadow">
    <a href="{%url 'users:profilepage' object.user.profile.slug%}"><img class="rounded-circle article-img"
            src="{{ object.user.profile.image.url }}" /></a>
    <div class="media-body">
        <div class="article-metadata">
            <small class="text-muted">{{ object.created|date:"F d, Y" }}</small>
            <span class="badge badge-light badge-pill">{{object.category}}</span>

            {% if object.user == user %}
            <div>
                <small> <a class="badge badge-dark badge-pill"
                        href="{% url 'forum:answer-update' answer.query.slug answer.slug %}">Edit
                        ✏️️</a> <a class="badge badge-danger badge-pill"
                        href="{% url 'forum:answer-delete' answer.query.slug answer.slug %}">Delete</a></small>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        {{object.content|safe}}
    </div>
</article>


{%endfor%}
{% endblock content %}